*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
html{
    scroll-behavior:  smooth;
    
}
body{
    
    display: flex;
    flex-direction: column;
    
}
.header{
    display: flex;
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #ffffff;
}
.header_filha{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0px 135px 0px 135px;
}
.menu_nav{
    font-family: 'Inter';
    
    color: #6E7275;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-left: 45px;
    text-decoration: none;    
}
.menu_nav:hover{
    border-bottom:  2px solid #0F9AFE;
    color: #89c8f5;
}

.main{
    display: flex;
    flex-direction: column;
    flex: 1 ;
    
}
#section1{
    display: flex;
    height: 640px;
    background-color: #EFF8FF;

}
#section2{
    display: flex;
    flex-direction: column;
    height: 476px;
}
#section3{
    display: flex;
    height: 475px;
    background-color: #EFF8FF;
}
#section4{
    display: flex;
    flex-direction: column;
    height: 840px;
}
#section5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 382px;
    background-image: url(./assets/logo_contato.png) ;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer{
    justify-content: center;
    align-items: center;
    display: flex;
    color: #293145;
    height: 90px;
}
.section_conteiner{
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 100%;
    margin: 0px 135px 0px 135px;
    
 }
.text_buttom{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#text_rachi{
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
}
#cadastro:hover{
    width: 200px;
    height: 56px;
    background-color: rgb(0, 99, 180);

}
#cadastro{
    width: 200px;
    height: 56px;
    margin-top: 50px ;
    background: #0F9AFE;
    box-shadow: 1px 3px 4px rgba(19, 125, 224, 0.5);
    border-radius: 50px;
    border: none;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: white;
    
}

.como_funciona{
    display: flex;
    justify-content: center;
    margin-top: 65px;
    font-family: 'Sora';
    font-style: normal;
    font-size: 40px;
    font-weight: 600;
    color: #293145;

}
.conexoes{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.conex1{
    display: flex;
    flex-direction: column;
    margin-right: 130px;
    align-items: center;
    justify-items: center;
    width: 210px;
    

}
.conex2{
    display: flex;
    flex-direction: column;
    margin-right: 130px;
    align-items: center;
    justify-items: center;
    width: 210px;
    
}
.conex3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 210px;
    
}


.conex1 img{
    width: 57px;
    height: 57px ;
}
.crie_conex{
    margin-top: 41px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #293145;

}
.loren{
    margin-top: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #6E7275;
}
.baixe{
    display: flex;
    align-items: center;
    margin: 25px 135px 0 135px;
    width: 100%;
    justify-content: space-between;

}
.title_baixe{
font-family: 'Sora';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 40px;
color: #293145;
margin-bottom: 24px;
}
.text_baixe{
font-family: 'Inter';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
color: #6E7275;
width: 444px;
height: 78px ;
margin-bottom: 36px;

}
#googelplay{
    width: 165px;
    height: 52px;
    margin-right: 27px;
}
#applestore{
    width: 165px;
    height: 52px;
}
.nossos_planostxt{   
    margin-top: 20px;
    text-align: center;
}

#title_planos{
    font-family: Sora;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: #293145;
    margin-top: 50px;
    margin-bottom: 16px;
}
#planos_loren{
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #6E7275;
    margin-bottom: 96px;
}
.planos{
    display: flex;
    gap: 30px;
    margin: 0px 135px 130px 135px;
    justify-content: center;
    
}
.plano_cantos{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width:370px ;
    height:471px ;
    background-color: #EFF8FF;
    border-radius: 8px;
    
}
.plano_central{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width:370px ;
    height:471px ;
    background-color: #293145;
    margin: 0 30px 0 30px; 
    border-radius: 8px;
}
.titulo_cantos{
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #293145;
    margin-bottom: 59px;
}
.titulo_centro{
    font-family: Sora;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
    margin-bottom: 13px;
}
.valores_cantos{
    display: flex;
    justify-content: center;
    margin-bottom: 47px;
    

}
.valores_centro{
    display: flex;
    justify-content: center;
    margin-bottom: 47px;
    font-family: 'Roboto';
    font-style: normal;    
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;
    margin-right: 3px;
    
}
.moeda{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px; 
    color: #293145;
}
.valor{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: #293145;
    margin-right: 3px;
    

}
.mes_cantos{
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    color: #293145;
   
}
.text_cantos{
    align-self: center;
    width: 300px;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 25px;
    color: #6E7275;
    margin-bottom: 58px;
}
.botao_cantos{
    width: 230px;
    height: 43px;
    border: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Nunito';
    background: #0F9AFE;
    box-shadow: 1px 3px 4px rgba(19, 125, 224, 0.5);
    border-radius: 50px;
}
.botao_cantos:hover{
    
    background-color: rgb(0, 99, 180);
}
.botao_centro{
    width: 164px;
    height: 27px;
    background: #0F9AFE;
    border-radius: 15px;
    border: none;
    color: #ffffff;
    font-family: Inter;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 37px;

}
.botao_centro:hover{
    background-color: rgb(10, 109, 190);
}
.moeda_centro{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}
.mes_centro{
    font-family:  'Roboto';
    font-style: normal;
    font-size: 26px;
    line-height: 30px;
    color: #FFFFFF;
    align-self: center;
}
.text_centro{
    width: 300px;
    height: 75px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    align-self: center;
    color: #DBDBDB;
    margin-bottom: 58px;
}
.botao_assinar_centro{
width: 230px;
height: 43px;
font-family: Nunito;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
color: #FFFFFF;
background: #0F9AFE;
box-shadow: 1px 3px 10px rgba(17, 37, 56, 0.5);
border-radius: 50px;
border: none;
margin-bottom: 28px;
}
.botao_assinar_centro:hover{ 
    background-color: rgb(0, 99, 180);
}
.contatos{
    font-family: Sora;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.contatos_text{
    width: 528px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #DBDBDB;
    margin-bottom: 99px;

}
.form_email{
    display: flex;
}
.email{
    padding-bottom:10px ;
    margin-right: 40px;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    background: none;
    border: none;
    border-bottom: 2px solid #ffffff;
    width: 300px;
    
}
.enviar{
    width: 118px;
    height: 38px;
    background: #0F9AFE;
    border-radius: 50px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.enviar:hover{
    background-color: rgb(0, 99, 180);
}
.rodape_text{
    font-family: 'Sora';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;

    color: #293145;
}